body{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #fff;
    color: black;
}

header{
    text-align: center;
    color: #3F29FA;
    background-color: #fff;
}

nav{
    background-color: #574CBA;
    text-align: center;
    padding: 1px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
}

nav ul li a:hover{
    text-decoration: underline;
}

footer {
    background-color: #574CBA;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    color: black;
}

nav{
    background-color: #574CBA;
    text-align: center;
    padding: 1px;
}

main {
    margin: 20px;
}

.tabela-destinos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-destinos th {
    background-color: #574CBA;
    color: #FADC28;
    padding: 8px;
}

.tabela-destinos td {
    border: 1px solid #574CBA;
    padding: 8px;
}

.tabela-rj {
    background-color: #FADC28;
}

.tabela-manaus {
    background-color: #fff;
}

.tabela-salvador {
    background-color: #FADC28;
}